.Footer {
  background-color: #2b2f3f;
  text-align: center;
  min-height: 60px;
  padding: 20px;
  margin-top: 10vh;
  color: white;
  left: 0;
  bottom: 0;
  right: 0;
}
.Footer > a {
  color: white;
}
